{% extends 'base.html.twig' %}

{% block title %}Product removed{% endblock %}

{% block body %}
    <h1>Product removed</h1>
    <a href="{{ path('product_list') }}" class="btn btn-default">Back</a>
{% endblock %}