{% extends 'base.html.twig' %}

{% block title %}New product{% endblock %}

{% block body %}
    <h1>New Product</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br />
    <a href="{{ path('product_list') }}" class="btn btn-default">Back</a>
{% endblock %}